.button {
    --size-min-height: 32px;

    position: relative;
    min-height: var(--size-min-height);
    padding: 0 12px;
    border: 2px solid var(--color-primary);
    border-radius: 4px;

    background: transparent;
    color: var(--color-primary);
    fill: var(--color-primary);
    font-size: 1rem;

    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

@media (hover: hover) {
    .button:hover:not(:disabled) {
        background: var(--color-primary);
        color: var(--color-on-primary);
    }
}

.button:active:not(:disabled) {
    background: var(--color-primary);
    color: var(--color-on-primary);
    transform: scale(0.9);
}

.button:disabled {
    border-color: var(--color-input-label);
    color: var(--color-input-label);
    cursor: not-allowed;
}

.button.-loading {
    pointer-events: none;
}

.button.-loading .content {
    opacity: 0;
}

.button:not(.-loading) .loader {
    opacity: 0;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

::deep .icon {
    width: 80%;
    max-height: calc(var(--size-min-height) * 1.5);
}

@media (min-width: 480px) and (min-height: 480px) {
    .button {
        --size-min-height: 40px;
        padding: 0 16px;
    }
}
