html {
    --color-input-label: gray;
    --color-accent: orange;
    --color-primary: darkorange;
    --color-on-primary: white;
}

@media (prefers-color-scheme: light) {
    html {
        --color-background: white;
        --color-on-background: black;
        --color-background-input: #EFEFEF;
        --color-separator: #CFCFCF;
        --color-input-placeholder: #9F9F9F;

        --color-no: red;
        --color-on-no: white;
        --color-yes: limegreen;
        --color-on-yes: white;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --color-background: black;
        --color-on-background: white;
        --color-background-input: #1F1F1F;
        --color-separator: #2F2F2F;
        --color-input-placeholder: #5F5F5F;

        --color-no: crimson;
        --color-on-no: white;
        --color-yes: mediumseagreen;
        --color-on-yes: white;
    }
}
