html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: var(--color-background);
    color: var(--color-on-background);
    stroke: var(--color-on-background);
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
}

input,
button {
    margin: 0;
}

* {
    outline: none;
    transition: 0.1s;
}
