html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

html {
    background: var(--color-background);
    color: var(--color-on-background);
    stroke: var(--color-on-background);
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
}

#initial-loader {
    width: 160px;
    height: 160px;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: visible;
    transform: translate(-50%, -50%);
    animation: loader-pulse 2s infinite;
    animation-delay: 1s;
}

.initial-loader {
    animation: loader-appear 1s normal;
}

@keyframes loader-pulse {
    0%, 100% {
        filter: drop-shadow(0 0 0 var(--color-primary));
    }

    50% {
        filter: drop-shadow(0 0 10px var(--color-primary));
    }
}

@keyframes loader-appear {
    0%, 50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input,
textarea,
button {
    margin: 0;
}

img {
    object-fit: cover;
}

* {
    outline: none;
    transition: 0.1s;
}
