html {
    --size-bar: 50px;
    --size-avatar: 30px;
    --size-default-gap: 16px;
}

@media (min-width: 480px) and (min-height: 760px) {
    html {
        --size-bar: 60px;
        --size-avatar: 40px;
        --size-default-gap: 24px;
    }
}
