.container {
    padding: 16px;
}

.image {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border: 3px solid var(--color-background);
    border-radius: 50%;
    background: var(--color-background-input);
}

@media (hover: hover) {
    .image:hover {
        border-color: var(--color-accent);
    }
}

.image:active {
    border-color: var(--color-accent);
    transform: scale(0.9);
}

.name {
    font-size: 1.5rem;
}

::deep .bio {
    align-self: stretch;
}

::deep .submit {
    margin-top: 24px;
}

@media (min-width: 600px) {
    .container {
        padding: 24px;
    }

    .image {
        width: 160px;
        height: 160px;
    }
}
