@inherits LayoutComponentBase

<div class="page">
    <SideNavigation Destinations="@destinations" />
    <div class="main">@Body</div>
    <BottomNavigation Destinations="@destinations" />
</div>

@code
{
    private Destination[] destinations = new Destination[] {
        new Destination() {
            Route = "feed",
            Text = "Feed",
            Icon = __builder => { <FeedIcon /> },
        },
        new Destination() {
            Route = "notifications",
            Text = "Notifications",
            Icon = __builder => { <NotificationsIcon /> },
        },
        new Destination() {
            Route = "archive",
            Text = "Archive",
            Icon = __builder => { <ArchiveIcon /> },
        },
        new Destination() {
            Route = "drafts",
            Text = "Drafts",
            Icon = __builder => { <DraftsIcon /> },
        },
        new Destination() {
            Route = "settings",
            Text = "Settings",
            Icon = __builder => { <SettingsIcon /> },
        },
    };
}
