.header {
    --size-item-gap: 12px;

    width: 100%;
    height: var(--size-bar);
    padding-top: env(safe-area-inset-top);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-separator);
}

.-full-screen .header {
    height: 0;
    overflow: hidden;
    transform: translateY(-100%);
}

.items-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.item.-start {
    margin-left: var(--size-item-gap);
}

.item.-end {
    margin-right: var(--size-item-gap);
}
