@inject ILocalStorageService localStorage

<div>
    <Button OnClick=@OnLogout>Logout</Button>
</div>

@code
{
    private async Task OnLogout(MouseEventArgs args) => await localStorage.SetItemAsync("auth.token", "");
}
