@inject ILocalStorageService localStorage

<div>
    <Button OnClick=@OnLogout>@ChildContent</Button>
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private async Task OnLogout(MouseEventArgs args) => await localStorage.SetItemAsync("auth.token", "");
}
