@inject IJSRuntime javascript

<div class="-updater">
    <Button Loading=@updating OnClick=@OnUpdate>
        <span class="-updater-text">Update</span>
        <span class="-update-checker-text">Check for update</span>
    </Button>
</div>

@code {
    private bool updating;

    private async Task OnUpdate(MouseEventArgs args) {
        updating = true;
        await javascript.InvokeVoidAsync("doUpdate");
    }
}
