@inject IJSRuntime javascript

<div class="-updater">
    <Button Loading=@updating OnClick=@OnUpdate>@ChildContent</Button>
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool updating;

    private async Task OnUpdate(MouseEventArgs args) {
        updating = true;
        await javascript.InvokeVoidAsync("finishUpdate");
    }
}
