.container {
    --size-margin: 24px;

    width: 240px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.logo {
    width: 80px;
    margin-bottom: var(--size-margin);
    align-self: center;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::deep .field,
::deep .submit {
    margin-bottom: var(--size-margin);
}

::deep .field {
    align-self: stretch;
}

@media (min-height: 480px) {
    .logo {
        display: initial;
    }
}

@media (min-height: 760px) {
    .logo {
        width: 100px;
    }
}
