.navigation {
    padding-top: 16px;
    border-right: 1px solid var(--color-separator);
    font-size: 0.875rem;
    overflow-x: hidden;
}

.-full-screen .navigation {
    width: 0;
    border: none;
    overflow: hidden;
    transform: translateX(-100%);
}

.nav-wrapper {
    display: flex;
    max-height: 48px;
    padding-bottom: 16px;
    transform: scaleX(2);
}

.navigation ::deep a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    border: 2px solid transparent;
}


@media (hover: hover) {
    .navigation ::deep a:hover {
        border-color: var(--color-accent);
    }
}

.navigation ::deep a:active {
    border-color: var(--color-accent);
    transform: scale(0.9);
}

.navigation ::deep a.active {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: inherit;
}

.navigation ::deep a > span {
    width: 100%;
    transform: scaleX(0.5);
}

@media (min-width: 600px) {
    .navigation {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .navigation {
        padding-left: 16px;
        padding-right: 16px;
    }
}
