.navigation {
    --size-gap: 16px;

    padding-top: max(env(safe-area-inset-top), var(--size-gap));
    padding-bottom: max(env(safe-area-inset-bottom), var(--size-gap));
    padding-left: env(safe-area-inset-left);
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-right: 1px solid var(--color-separator);
    font-size: 0.875rem;
    overflow-x: hidden;
}

.-full-screen .navigation {
    width: 0;
    border: none;
    overflow: hidden;
    transform: translateX(-100%);
}

.profile {
    margin: 0 calc(0px - var(--size-gap));
    margin-bottom: var(--size-gap);
    padding: 0 var(--size-gap);
    padding-bottom: calc((var(--size-bar) - var(--size-avatar)) / 2);
    display: none;
    border-bottom: 1px solid var(--color-separator);
}

.image {
    width: var(--size-avatar);
    height: var(--size-avatar);
    display: block;
    border-radius: 50%;
    background: var(--color-background-input);
}

.nav-wrapper {
    display: flex;
    max-height: 48px;
    padding-bottom: var(--size-gap);
    transform: scaleX(2);
}

.nav-wrapper:last-child {
    padding-bottom: 0;
}

.navigation ::deep a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 var(--size-gap);
    position: relative;
    border: 2px solid transparent;
    -webkit-user-select: none;
    user-select: none;
}


@media (hover: hover) {
    .navigation ::deep a:hover {
        border-color: var(--color-accent);
    }
}

.navigation ::deep a:active {
    border-color: var(--color-accent);
    transform: scale(0.9);
}

.navigation ::deep a.active {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-on-primary);
}

.navigation ::deep a > .nav-text {
    width: 100%;
    transform: scaleX(0.5);
}

.navigation ::deep .badge {
    width: 1em;
    height: 1em;
    position: absolute;
    transform: translate(-20%, -30%);
}

@media (min-width: 600px) {
    .navigation {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .navigation {
        padding-left: var(--size-gap);
        padding-right: var(--size-gap);
    }
}

@media (min-height: 400px) {
    .navigation {
        padding-top: calc((var(--size-bar) - var(--size-avatar)) / 2);
        justify-content: flex-start;
    }

    .profile {
        display: flex;
        justify-content: center;
    }
}
