.navigation {
    padding-top: 16px;
    border-right: 1px solid var(--color-separator);
    font-size: 0.875rem;
    overflow-x: hidden;
}

.nav-wrapper {
    display: flex;
    max-height: 48px;
    padding-bottom: 16px;
    transform: scaleX(2);
}

.navigation ::deep a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    border: 2px solid transparent;
}

.navigation ::deep a:hover {
    border-color: rgb(var(--color-primary-rgb));
    color: rgb(var(--color-primary-rgb));
}

.navigation ::deep a:active {
    transform: scale(0.9);
}

.navigation ::deep a.active {
    background-color: rgb(var(--color-primary-rgb));
    border-color: rgb(var(--color-primary-rgb));
    color: inherit;
}

.navigation ::deep a > span {
    width: 100%;
    transform: scaleX(0.5);
}

@media (min-width: 600px) {
    .navigation {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .navigation {
        padding-left: 16px;
        padding-right: 16px;
    }
}
